/* Design System Reference https://brandfetch.com/sfhnigeria.org */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* SIDEBAR */
.sidebar {
    background: #2d307f7b;
    width: calc(50% - 20px);
    flex-grow: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-logo {
    height: 20%;
    width: 80%;
}

.img {
    height: 100%;
    width: 100%;
}

/* MAIN */
.main {
    width: calc(45% - 30px);
    flex-grow: 100;
    display: flex;
    align-items: center;
    margin: 30px;
    background-color: #fff;
    padding: 0 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-wrapper {
    width: 100%;
}

.form-wrapper {
    width: 80%;
    max-width: 467px;
    background: #ffffff;
    border: 1px solid rgba(164, 167, 183, 0.3);
    border-radius: 8px;
    padding: 20px 5%;
    margin: auto;
}

label {

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #434854a5;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="datetime-local"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="datetime-local"]:focus,
textarea:focus,
select:focus {
    outline: 1px solid #2d307fcb;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
input[type="datetime-local"]::placeholder,
textarea::placeholder,
select::placeholder {
    color: #aaaaaa;
}

input[type="submit"] {

    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    background: #3C3F83;
    border-radius: 6px;
    color: white;
    border: 1px solid #3C3F83;
    outline: none;
    width: 100%;
}

input[type="submit"]:hover {
    color: #3C3F83;
    background-color: #ffffff;
}

.error {
    color: #EA9C98;
}

h3 {
    font-style: normal;
    font-weight: 550;
    font-size: 28px;
    line-height: 28px;
    color: #434854;
    text-align: center;
}

h4 {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2D307F;
    text-align: center;
}

h6 {

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #303b54;
    background: #fff;
    margin: 10px;
    cursor: pointer;
    text-decoration-line: underline;
}

span {
    color: #c5c5c5;
    display: inline-block;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    .main {
        width: 100%;
        margin-bottom: 20px;
    }
    .img-logo {
        height: 90%;
        width: 80%;
    }
    
    .img {
        height: 100%;
        width: 100%;
    }
}